.Form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 400px;
}

.Label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: 500;
}

.Input {
  width: 250px;
}
button {
  width: 100px;
}
